SERVER_MNEMONIC="bounce clutch hotel number lab imitate grass loop jewel cousin network paddle"

# recaptcha test keys
NEXT_PUBLIC_CAPTCHA_SITE_KEY="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
CAPTCHA_SECRET="6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe"

# Get the API key for Moralis for reading NFT metadata. Check here: https://moralis.io/api/nft/
NEXT_PUBLIC_MORALIS_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJub25jZSI6Ijk3ZDNiNDQzLTk5MDQtNDY2My1hOWVkLWRhZTEyNWUwNmFhMiIsIm9yZ0lkIjoiMzM3MjI3IiwidXNlcklkIjoiMzQ2NzA1IiwidHlwZUlkIjoiZjlhMmNiNGUtZmExZi00ZjA1LWE5YjgtNjVlNGMwN2QwMzI5IiwidHlwZSI6IlBST0pFQ1QiLCJpYXQiOjE2ODUwMDgyMTgsImV4cCI6NDg0MDc2ODIxOH0.1Hy32aHMkiqrVuxINdqpVDgj99AX7Hqeql7es0n4aPc"