@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  color: #fff;
}

p {
  color: #fff;
}

div {
  color: #fff
}

.btn {
  color: #fff
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    color: #fff;
  }

  p {
    color: #fff;
  }

  div {
    color: #fff
  }

  .btn {
    color: #fff
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--tw-bg-opacity);
}

.textarea:focus {
  outline: none;
}

.grecaptcha-badge {
  visibility: hidden;
  display: none;
}